<!doctype html>
{% extends "base.html" %}

{% block title %}
Add Category
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{form}}
                        <button type="submit" class="btn btn-primary mt-2">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
