<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<body>
    <a href="{% url 'list' %}">Go to All Products</a>
    <h1>This is Index Page</h1>
    <p>Welcome to django course.</p>
    {% for data in infos %}
        {% if not data.is_active %}
            <h1>Name: {{data.name}}</h1>
            <p>{{data.name}} got {{data.marks.math}} in math subject.</p>
        {% endif %}
    {% endfor %}
</body>
</html>