<!doctype html>
{% extends 'user_base.html' %}

{% load static %}

{% block title %}
User || Cart Page
{% endblock %}

{% block main_content %}
     <div class="container mt-5">
      <h2 class="text-center text-muted">MY CARTS</h2>
      {% if is_empty%}
        <div class="d-flex mt-4 justify-content-center">
          <div class="col-md-4 p-4 shadow rounded">
            <h1 class="text-danger">No Items Found</h1>
            <p>Please add Items to Cart</p>
          </div>
        </div>
      {% else %}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr>
            <td>{{item.product.product_name}}</td>
            <td>
                <img src="{{item.product.image.url}}" alt="" width="100">
            </td>
            <td>{{item.product.category.category_name}}</td>
            <td>{{item.product.product_price}}</td>
            <td>
              <a href="{% url 'delete-cart-item' item.id %}" class="btn btn-danger">Delete</a>
              <a href="#" class="btn btn-primary">Order Now</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
{% endblock %}